<script>
    $('.smooth-goto').on('click', function () {
        $('html, body').animate({scrollTop: $(this.hash).offset().top - 50}, 1000);
        return false;
    });
</script>

<header id="header" style="text-align: justify; text-justify: inter-word;">
  <div class="container">
    <div class="logo float-left">
      <h1 class="text-light"><a class="scrollto" href="#intro"><span>Kulveer Singh</span></a></h1>
    </div>
    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li><a class="smooth-goto" href="#intro">Home</a></li>
        <li><a class="smooth-goto" href="#aboutme">about me</a></li>
        <li><a class="smooth-goto" href="#services">Services</a></li>
        <li><a class="smooth-goto" href="#skills">Skills & Experience</a></li>
        <li><a class="smooth-goto" href="#projects">Projects</a></li>
        <li><a class="smooth-goto" href="#footer">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="clearfix test" id="intro">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
      <div class="col-md-6 intro-info order-md-first order-last">
        <h2>Kulveer Singh<br>for Your <span>Business!</span></h2>
        <div><a class="btn-get-started scrollto" href="#main">Get Started</a></div>
      </div>
      <div class="col-md-6 intro-img order-md-last order-first" style="opacity: 0">
        <img alt="" class="img-fluid" src="../assets/img/intro-bg.jpg">
      </div>
    </div>
  </div>
</section>

<main id="main">
  <!--==========================
  About Us Section
  ============================-->
  <section class="test" id="aboutme">
    <div class="container">
      <div class="row">

        <div class="col-lg-5 col-md-6">
          <div class="about-img item" style="width: 463px; border-radius: 10%; padding-top: 70px; padding-right: 70px">
            <!--            <img alt="" src="../assets/img/47137510_1936004136514608_9071868800655163392_o.jpg" style="width: 100%; border-radius: 10%">-->
            <img alt="" class="item" src="../assets/img/Screenshot from 2019-08-06 13-17-20.png"
                 style="width: 100%">
          </div>
        </div>

        <div class="col-lg-7 col-md-6" style="padding-top: 70px; text-align: justify; text-justify: inter-word;">
          <div class="about-content">
            <h2>About Me</h2>
            <hr>
            <h4 style="padding-left: 35px">Hello<br>I'm Kulveer Singh</h4>
            <ul style="list-style: none">
              <p class="ion-android-checkmark-circle"> I am Working as a <i><b>Python Developer</b></i> from December
                2016.</p>
              <p class="ion-android-checkmark-circle"> I Have worked as a <i><b>Software Developer</b></i> at GCrew
                Solutions Private Limited, Village Kari Kalan, District Ferozepur, Punjab 152023, from December 2016 to
                April 2018.</p>
              <p class="ion-android-checkmark-circle"> I Have working as a <i><b>Senior Software Developer</b></i> at
                ADI Back Office (ADI-Group), Phase 8 Industrial Area, Sector 72, Mohali, Punjab 160072, from May 2018.
              </p>
              <p class="ion-android-checkmark-circle"> I Have Worked on 7 projects.</p>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section><!-- #about -->


  <!--==========================
  Services Section
  ============================-->
  <section class="section-bg test" id="services" style="text-align: justify; text-justify: inter-word;">
    <div class="container">
      <header class="section-header">
        <br>
        <br>
        <h3>Services</h3>
        <p>"I focus on client requirements and make sure to pursue the necessary steps to achieve what the client wants
          and not what is easier to implement."</p>
      </header>

      <div class="row" style="text-align: justify; text-justify: inter-word;">

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s"
             style="text-align: justify; text-justify: inter-word;">
          <div class="box">
            <div class="icon" style="background: #fceef3;"><i class="fa fa-code fa-3x"
                                                              style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="">Software Development</a></h4>
            <p class="description" style="text-align: justify; text-justify: inter-word;">Using Python or other Database
              Technologies, develop professional software/utilities
              for stand-alone systems. I develop softwares/utilities for Linux, Windows and IOS.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #fff0da;"><i class="fa fa-desktop fa-3x"
                                                              style="color: #e98e06;"></i></div>
            <h4 class="title"><a href="">Web / App Development</a></h4>
            <p class="description" style="text-align: justify; text-justify: inter-word;">I develop web and mobile apps
              using latest technologies like bootstrap, angularjs,
              javascript. All our web development is based on mobile first approach.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #e6fdfc;"><i class="fa fa-gears fa-3x" style="color: #3fcdc7;"></i>
            </div>
            <h4 class="title">Software Maintenance</h4>
            <p class="description" style="text-align: justify; text-justify: inter-word;">I provides 24x7 unlimited
              support for software maintenance with product/software
              version updates to keep your environment running optimally.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #services -->

  <!--==========================
  skills Section
  ============================-->
  <section class="section-bg test" id="skills">
    <div class="container">
      <div class="section-header">
        <br>
        <br>
        <h3>Skills</h3>
      </div>
      <div class="row">

        <div class="col-lg-3 col-md-6 wow fadeInUp">
          <div class="member">
            <img alt="" class="img-fluid" src="../assets/img/6bd224a8-e827-4593-b5b4-483338e9999e-python.png">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Python</h4>
                <span>2+ year Experience</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <img alt="" class="img-fluid" src="../assets/img/django.png">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Django</h4>
                <span>6+ months Experience</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <img alt="" class="img-fluid" src="../assets/img/mongodb-226029.png">
            <div class="member-info">
              <div class="member-info-content">
                <h4>MongoDB</h4>
                <span>2+ year Experience</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <img alt="" class="img-fluid" src="../assets/img/0dd7193f-e747-4a15-b797-818b9fac3656-mysql.png">
            <div class="member-info">
              <div class="member-info-content">
                <h4>MySQL</h4>
                <span>2+ year Experience</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <img alt="" class="img-fluid" src="../assets/img/restful-api-logo-256.png">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Django Rest Framework</h4>
                <span>6+ months Experience</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <img alt="" class="img-fluid" src="../assets/img/html_logo_png_685289.png">
            <div class="member-info">
              <div class="member-info-content">
                <h4>HTML</h4>
                <span>Don't have any experience but learnt</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <img alt="" class="img-fluid" src="../assets/img/css.webp">
            <div class="member-info">
              <div class="member-info-content">
                <h4>CSS</h4>
                <span>Don't have any experience but learnt</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <img alt="" class="img-fluid" src="../assets/img/javascript.png">
            <div class="member-info">
              <div class="member-info-content">
                <h4>JavaScript</h4>
                <span>Don't have any experience but learnt</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <img alt="" class="img-fluid" src="../assets/img/angular.png">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Angular JS</h4>
                <span>Don't have any experience but learnt</span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #skills -->

  <!--==========================
  projects Section
  ============================-->
  <section class="wow fadeInUp section-bg test" id="projects">

    <div class="container">

      <header class="section-header">
        <br>
        <h3>Projects Have Worked-on</h3>
        <p>"I have worked on 7 projects." ~ Kulveer Singh</p>
      </header>

      <div class="row flex-items-xs-middle flex-items-xs-center">

        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3 style="font-size: 30px"><span class="currency"
                                                style="font-size: 15px">1st</span><b>EmployZone</b><span class="period"><pre
                style="font-size: 10px">
                Gcrew Solution Pvt. Ltd</pre></span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Software Developer
              </h4>
              <ul class="list-group">
                <li class="list-group-item">This is Client project</li>
                <li class="list-group-item">Worked form <em style="font-size: 14px"><b>Dec-2016 to April-2018</b></em>
                </li>
                <li class="list-group-item">This is Job Search Engine (US Based)</li>
                <li class="list-group-item">Worked on Backend(Web Scraping)</li>
              </ul>
            </div>
          </div>
          <br>
          <br>
        </div>

        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3 style="font-size: 30px"><span class="currency" style="font-size: 15px">2nd</span><b>Lensa</b><span
                class="period"><pre style="font-size: 10px">
                Gcrew Solution Pvt. Ltd</pre></span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Software Developer
              </h4>
              <ul class="list-group">
                <li class="list-group-item">This is Client project</li>
                <li class="list-group-item">Worked form <em style="font-size: 14px"><b>Dec-2016 to April-2018</b></em>
                </li>
                <li class="list-group-item">This is Job Search Engine (US Based)</li>
                <li class="list-group-item">Worked on Backend(Web Scraping)</li>
              </ul>
            </div>
          </div>
          <br>
          <br>
        </div>

        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3 style="font-size: 30px"><span class="currency" style="font-size: 15px">3rd</span><b>Brazen</b><span
                class="period"><pre style="font-size: 10px">
                Gcrew Solution Pvt. Ltd</pre></span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Software Developer
              </h4>
              <ul class="list-group">
                <li class="list-group-item">This is Client project</li>
                <li class="list-group-item">Worked form <em style="font-size: 14px"><b>May-2017 to April-2018</b></em>
                </li>
                <li class="list-group-item">This is Job Search Engine (US Based)</li>
                <li class="list-group-item">Worked on Backend(Web Scraping)</li>
              </ul>
            </div>
          </div>
          <br>
          <br>
        </div>

        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3 style="font-size: 30px"><span class="currency"
                                                style="font-size: 15px">4th</span><b>Recruitics</b><span class="period"><pre
                style="font-size: 10px">
                Gcrew Solution Pvt. Ltd</pre></span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Software Developer
              </h4>
              <ul class="list-group">
                <li class="list-group-item">This is Client project</li>
                <li class="list-group-item">Worked form <em style="font-size: 14px"><b>May-2017 to April-2018</b></em>
                </li>
                <li class="list-group-item">This is Job Search Engine (US Based)</li>
                <li class="list-group-item">Worked on Backend(Web Scraping)</li>
              </ul>
            </div>
          </div>
          <br>
          <br>
        </div>

        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3 style="font-size: 30px"><span class="currency" style="font-size: 15px">5th</span><b>Confowiz</b><span
                class="period"><pre style="font-size: 10px">
                ADI-Group</pre></span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Sr. Software Developer
              </h4>
              <ul class="list-group">
                <li class="list-group-item">This is Client project</li>
                <li class="list-group-item">Working form <em style="font-size: 14px"><b>May-2018</b></em></li>
                <li class="list-group-item">This is Job Search Engine (US Based)</li>
                <li class="list-group-item">Worked on Backend(Web Scraping)</li>
              </ul>
            </div>
          </div>
          <br>
          <br>
        </div>

        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3 style="font-size: 30px"><span class="currency" style="font-size: 15px">6th</span><b>Autolife</b><span
                class="period"><pre style="font-size: 10px">
                SmartBuzz Inc. (On Contactual Base)</pre></span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Python Developer
              </h4>
              <ul class="list-group">
                <li class="list-group-item">This is Client project</li>
                <li class="list-group-item">Worked form <em style="font-size: 14px"><b>Oct-2018 to Jan-2019</b></em>
                </li>
                <li class="list-group-item">This is Job Search Engine (Canada Based)</li>
                <li class="list-group-item">Worked on Backend(Web API Service)</li>
              </ul>
            </div>
          </div>
          <br>
          <br>
        </div>

        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3 style="font-size: 30px"><span class="currency" style="font-size: 15px">7th</span><b>Cars and
                Jobs</b><span class="period"><pre style="font-size: 10px">
                SmartBuzz Inc. (On Contactual Base)</pre></span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Python Developer
              </h4>
              <ul class="list-group">
                <li class="list-group-item">This is Client project</li>
                <li class="list-group-item">Worked form <em style="font-size: 14px"><b>Oct-2018 to Jan-2019</b></em>
                </li>
                <li class="list-group-item">This is Job Search Engine (Canada Based)</li>
                <li class="list-group-item">Worked on Backend(Web API Service)</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section><!-- #pricing -->

</main>
<!--==========================
Footer
============================-->
<footer class="section-bg" id="footer" style="padding-bottom: -10px">
  <!--  <hr>-->
  <div class="footer-top bg-dark">
    <div class="container text-white">
      <h4 class="text-white">Contact Me</h4>
      <p>
        <strong>Phone:</strong> <a class="text-white" href="tel:+919041778842"> +91 904 177 8842</a><br>
        <strong>Email:</strong> <a class="text-white" href="mailto:kulveermrar@gmail.com">
        kulveermrar@gmail.com</a>
      </p>
    </div>

    <div class="container text-center bg-dark">
      <div class="social-links">
        <a class="twitter" href="https://twitter.com/kulveermrar" target="_blank"><i class="fa fa-twitter"></i></a>
        <a class="facebook" href="https://fb.me/kulveersingh.mrar" target="_blank"><i class="fa fa-facebook"></i></a>
        <a class="linkedin" href="https://linkedin.com/in/kulveer-singh-a7464a117/" target="_blank">
          <i class="fa fa-linkedin"></i></a>
        <a class="instagram" href="https://instagram.com/im_kulveersingh" target="_blank">
          <i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer><!-- #footer -->

<a class="back-to-top" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!-- JavaScript Libraries -->
<script src="../assets/lib/jquery/jquery.min.js"></script>
<script src="../assets/lib/jquery/jquery-migrate.min.js"></script>
<script src="../assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/lib/easing/easing.min.js"></script>
<script src="../assets/lib/mobile-nav/mobile-nav.js"></script>
<script src="../assets/lib/wow/wow.min.js"></script>
<script src="../assets/lib/waypoints/waypoints.min.js"></script>
<script src="../assets/lib/counterup/counterup.min.js"></script>
<script src="../assets/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../assets/lib/isotope/isotope.pkgd.min.js"></script>
<script src="../assets/lib/lightbox/js/lightbox.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="../assets/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="../assets/js/main.js"></script>


<script>
    $(".test").onepage_scroll();
</script>

<router-outlet></router-outlet>
